<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="	glyphicon glyphicon-home"></em>
            </a>	
        </li>
        <li class="active">
            Dashboard
        </li>
    </ol>
</div>