<div class="row stellaris-question-breadcrumb">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="	glyphicon glyphicon-home"></em>
            </a>	
        </li>
        <li class="active">
            Dashboard
        </li>
        <li>
            <%= typeof surveyInfo != 'undefined' ? "Question " + surveyInfo.id : "" %>
        </li>
    </ol>
</div>