
<div class="row">
    <div class="col-xs col-md-6 col-lg-6">
        <div class="panel panel-dark-grey panel-widget">
            <div class="row height-200 no-padding">
                <div class="col-sm-2 col-lg-2 widget-left height-200">
                    <img src="img/egalitarian.png"/>
                    <div class="text-muted">Egalitarian</div>
                </div>
                <div class="col-sm-10 col-lg-10 widget-right height-200 padding-10">
                    <p class="italics">Any society that does not embrace equality between its members - where an individual can rise to any position with enough hard work - is not only deeply unfair, but ultimately counterproductive for civilization.</p>
                    <p class="bold">Eqaulists that push for the advancement of individual citizen rights, progressiveness and representative forms of government.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs col-md-6 col-lg-6">
        <div class="panel panel-grey panel-widget">
            <div class="row height-200 no-padding">
                <div class="col-sm-2 col-lg-2 widget-left height-200">
                    <img src="img/fanatic_authoritarian.png"/>
                    <div class="text-muted">Authoritarian</div>
                </div>
                <div class="col-sm-10 col-lg-10 widget-right height-200 padding-10">
                    <p class="italics">A strong, guiding hand is essential to the success of any civilization - the alternative would be anarchy and chaos. It is the duty of the state to steer its citizens towards the paths that are the most productive.</p>
                    <p class="bold">Totalitarians desire strictly stratified societies led by a single strongman or an authoritative cabal. They believe in slavery, strong leadership and elitism.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs col-md-6 col-lg-6">
        <div class="panel panel-grey panel-widget">
            <div class="row height-200 no-padding">
                <div class="col-sm-2 col-lg-2 widget-left height-200">
                    <img src="img/xenophile.png">
                    <div class="text-muted">Xenophile</div>
                </div>
                <div class="col-sm-10 col-lg-10 widget-right height-200 padding-10">
                    <p class="italics">There exists, in all of us, a deep-seated fascination for the unknown. An adventurous spirit that rejects the familiar, and glories us into exploring the unfamiliar, whatever - or whomever - it may be.</p>	
                    <p class="bold">Xenoist desire greater value be put on alien life and culture. They enjoy a diverse population, multiculturalism and interstellar federations. They dislike Slavery and political isolation.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs col-md-6 col-lg-6">
        <div class="panel panel-dark-grey panel-widget">
            <div class="row height-200 no-padding">
                <div class="col-sm-2 col-lg-2 widget-left height-200">
                    <img src="img/fanatic_xenophobe.png">
                    <div class="text-muted">Xenophobe</div>
                </div>
                <div class="col-sm-10 col-lg-10 widget-right height-200 padding-10">
                    <p class="italics">The stakes could not be higher as we reach into the vast uncharted expanses of the galaxy, for we are gambling with the very survival of our species! Never trust the alien; its false smile hides an unknowable mind.</p>
                    <p class="bold">Xenophobes find other alien species repugnant. They push for policies that would assert dominance of their own species at any cost or isolate themselves from xenos.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs col-md-6 col-lg-6">
        <div class="panel panel-dark-grey panel-widget">
            <div class="row height-200 no-padding">
                <div class="col-sm-2 col-lg-2 widget-left height-200">
                    <img src="img/pacifist.png">
                    <div class="text-muted">Pacifist</div>
                </div>
                <div class="col-sm-10 col-lg-10 widget-right height-200 padding-10">
                    <p class="italics">Conflict as a means to an end is a ridiculous concept. It is by nature destructive, destroying what was to be obtained or giving room to grow that which was to be destroyed.</p>
                    <p class="bold">Peacekeepers desire economics growth and the acquisition of resources. They tend to advocate economic strength and peace, and they dislike armed conflicts that disrupt internal development.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs col-md-6 col-lg-6">
        <div class="panel panel-grey panel-widget">
            <div class="row height-200 no-padding">
                <div class="col-sm-2 col-lg-2 widget-left height-200">
                    <img src="img/fanatic_militarist.png">
                    <div class="text-muted">Militarist</div>
                </div>
                <div class="col-sm-10 col-lg-10 widget-right height-200 padding-10">
                    <p class="italics">The only true virtues are courage and discipline, and channeled properly they can overcome any obstacle. Therein lies true strength; force withheld, a promise made.</p>
                    <p class="bold">Imperialist desire military dominance over other civilizations. They like Rivalries and conquering other empires, and dislike relying on others.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs col-md-6 col-lg-6">
        <div class="panel panel-grey panel-widget">
            <div class="row height-200 no-padding">
                <div class="col-sm-2 col-lg-2 widget-left height-200">
                    <img src="img/materialist.png">
                    <div class="text-muted">Materialist</div>
                </div>
                <div class="col-sm-10 col-lg-10 widget-right height-200 padding-10">
                    <p class="italics">Reaching the stars, we set aside childish things; gods, spirits and other phantasms of the mind. Reality is cruel and unforgiving, yet we must steel ourselves and secure the survival of our race through the unflinching pursuit of science and technology.</p>
                    <p class="bold">Technologists embrace the scientific progress, the benefits of technological advancement. They dislike politically-motivated bans on avenues of research. They believe technology is the key to a happy and successful society. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs col-md-6 col-lg-6">
        <div class="panel panel-dark-grey panel-widget">
            <div class="row height-200 no-padding">
                <div class="col-sm-2 col-lg-2 widget-left height-200">
                    <img src="img/fanatic_spiritualist.png">
                    <div class="text-muted">Spiritualist</div>
                </div>
                <div class="col-sm-10 col-lg-10 widget-right height-200 padding-10">
                    <p class="italics">There are those who believe pointless and inconsequential our lives in this vast uncaring universe... What nonsense! The only truth we can ever know is that of our own existence. The universe - in all its apparent glory - is but a dream we all share.</p>
                    <p class="bold">Traditionalists desire a return to traditional values that may or may not have existed at some point before the civilisation took to the stars. They like austerity and dislike certain technological advancements and non-spiritualist values.</p>
                </div>
            </div>
        </div>
    </div>
</div>