<div class="row">
    <div class=" col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                What is Stellaris Ethnics Quiz?
            </div>
            <div class="panel-body">
                <p>
                    Stellaris is a political and military game where you play as an interstellar empire that has just unlocked superluminal travel.
                    As your people explores ane expands into space, they will encounter other alien civilizations.
                    Some seek for peaceful cooperation, others galactic conquest.
                    Some seek for technological supremacy, others may be hellbent on the extermination of all advanced forms of life.
                    Through diplomacy or force of arms, through your civilization, you enact your will and shape the future of the galaxy and the interstellar community.
                </p>
            </div>
        </div>
    </div>
</div>