
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">

        <div class="row center-block">
            <ol class="breadcrumb home-sidebar-list-header">
                <li>
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </li>
                <li>
                    <b><a href="/">Stellaris Ethnics Quiz</a></b>
                </li>
            </ol>
        </div>

        <!-- List below Stellaris Ethnics Quiz -->
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-plus"></span> 
                Add questons
            </a>
        </li>
        <li>
            <a href="#">
                <span class="	glyphicon glyphicon-list-alt"></span>
                Edit Quiz 
            </a>
        </li>

        <div class="center-block">
            <ol class="breadcrumb home-sidebar-list-header">
                <li>
                    <svg class="glyph stroked">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </svg>

                    <a href="#" class="no-color-change no-text-overflow">
                        <span data-toggle="collapse" href="#sub-item-1">
                            <svg class="glyph stroked">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </svg>
                            <b>Bonus Quizzes</b>
                        </span>
                    </a>
                </li>
            </ol>
        </div>
        
        <li class="parent">
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="panel-info" href="#">
                        <svg class="glyph stroked">
                            <span class="glyphicon glyphicon-book"></span>
                        </svg> 
                        New Custom Quiz
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </svg>
                            Edit Existing Quiz
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked">
                                <span class="glyphicon glyphicon-list-alt"></span>
                        </svg> 
                        Start Custom Quiz
                    </a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="divider"></li>
    </ul>
</div>