<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Stellaris - Ethnics</title>

<link rel="shortcut icon" href="views/img/Tab_Icon.png"/>

<link href="views/css/bootstrap.min.css" rel="stylesheet">
<link href="views/css/datepicker3.css" rel="stylesheet">
<link href="views/css/styles.css" rel="stylesheet">
<link href="views/css/stellaris-ethnics.css" rel="stylesheet">

<script src="views/js/lumino.glyphs.js"></script>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<span>STELLARIS</span> ETHNICS QUIZ
				</a>
			</div>							
		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">

			<div class="row center-block">
				<ol class="breadcrumb home-sidebar-list-header">
					<li>
						<svg class="glyph stroked home">
							<use xlink:href="#stroked-home"></use>
						</svg>
					</li>
					<li class="active">
						<b>Stellaris Ethnics Quiz</b>
					</li>
				</ol>
			</div>

			<!-- List below Stellaris Ethnics Quiz -->
			<li>
				<a href="#">
					<svg class="glyph stroked dashboard-dial">
						<use xlink:href="#stroked-dashboard-dial"></use>
					</svg> Start Quiz 
				</a>
			</li>
			<li>
				<a href="#">
					<svg class="glyph stroked dashboard-dial">
						<use xlink:href="#stroked-star"></use>
					</svg> Edit Quiz 
				</a>
			</li>

			<div class="center-block">
				<ol class="breadcrumb home-sidebar-list-header">
					<li>
						<svg class="glyph stroked">
							<span class="glyphicon glyphicon-th-large"></span>
						</svg>

						<a href="#" class="no-color-change no-text-overflow">
							<span data-toggle="collapse" href="#sub-item-1">
								<svg class="glyph stroked">
									<span class="glyphicon glyphicon-chevron-right"></span>
								</svg>
								<b>Bonus Quizzes</b>
							</span>
						</a>
					</li>
				</ol>
			</div>
			
			<li class="parent">
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="panel-info" href="#">
							<svg class="glyph stroked">
								<span class="glyphicon glyphicon-book"></span>
							</svg> 
							New Custom Quiz
						</a>
					</li>
					<li>
						<a class="" href="#">
							<svg class="glyph stroked">
								<span class="glyphicon glyphicon-th-list"></span>
							</svg>
							 Edit Existing Quiz
						</a>
					</li>
					<li>
						<a class="" href="#">
							<svg class="glyph stroked">
									<span class="glyphicon glyphicon-list-alt"></span>
							</svg> 
							Start Custom Quiz
						</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
		</ul>
	</div><!--/.sidebar-->
	


	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li>
					<a href="#">
						<em class="	glyphicon glyphicon-home"></em>
					</a>	
				</li>
				<li class="active">
					Dashboard
				</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Stellaris Ethnics</h1>
			</div>
		</div>

		<div class="row">
			<div class=" col-lg-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						What is Stellaris Ethnics Quiz?
					</div>
					<div class="panel-body">
						<p>
							Stellaris is a political and military game where you play as an interstellar empire that has just unlocked superluminal travel.
							As your people explores ane expands into space, they will encounter other alien civilizations.
							Some seek for peaceful cooperation, others galactic conquest.
							Some seek for technological supremacy, others may be hellbent on the extermination of all advanced forms of life.
							Through diplomacy or force of arms, through your civilization, you enact your will and shape the future of the galaxy and the interstellar community.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs col-md-6 col-lg-6">
				<div class="panel panel-dark-grey panel-widget">
					<div class="row height-150 no-padding">
						<div class="col-sm-2 col-lg-2 widget-left height-150">
							<img src="views/img/egalitarian.png"/>
							<div class="text-muted">Egalitarian</div>
						</div>
						<div class="col-sm-10 col-lg-10 widget-right height-150 padding-10">
							<p class="italics">Any society that does not embrace equality between its members - where an individual can rise to any position with enough hard work - is not only deeply unfair, but ultimately counterproductive.</p>
							<p class="bold">Eqaulists that push for the advancement of individual citizen rights, progressiveness and representative forms of government.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs col-md-6 col-lg-6">
				<div class="panel panel-grey panel-widget">
					<div class="row height-150 no-padding">
						<div class="col-sm-2 col-lg-2 widget-left height-150">
							<img src="views/img/fanatic_authoritarian.png"/>
							<div class="text-muted">Authoritarian</div>
						</div>
						<div class="col-sm-10 col-lg-10 widget-right height-150 padding-10">
							<p class="italics">A strong, guiding hand is essential to the success of any civilization - the alternative would be anarchy and chaos. It is the duty of the state to steer its citizens towards the paths that are the most productive.</p>
							<p class="bold">Totalitarians desire strictly stratified societies led by a single strongman or an authoritative cabal. They believe in slavery, strong leadership and elitism.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs col-md-6 col-lg-6">
				<div class="panel panel-dark-grey panel-widget">
					<div class="row height-150 no-padding">
						<div class="col-sm-2 col-lg-2 widget-left height-150">
							<img src="views/img/xenophile.png">
							<div class="text-muted">Xenophile</div>
						</div>
						<div class="col-sm-10 col-lg-10 widget-right height-150 padding-10">
							<p class="italics">There exists, in all of us, a deep-seated fascination for the unknown. An adventurous spirit that rejects the familiar and glories in the unfamiliar, whatever - or whomever - it may be.</p>	
							<p class="bold">Xenoist desire greater value be put on alien life and culture. They enjoy a diverse population, multiculturalism and interstellar federations. They dislike Slavery and political isolation.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs col-md-6 col-lg-6">
				<div class="panel panel-grey panel-widget">
					<div class="row height-150 no-padding">
						<div class="col-sm-2 col-lg-2 widget-left height-150">
							<img src="views/img/fanatic_xenophobe.png">
							<div class="text-muted">Xenophobe</div>
						</div>
						<div class="col-sm-10 col-lg-10 widget-right height-150 padding-10">
							<p class="italics">The stakes could not be higher as we reach into the vast uncharted expanses of the galaxy, for we are gambling with the very survival of our species! Never trust the alien; its false smile hides an unknowable mind.</p>
							<p class="bold">Xenophobes find other alien species repugnant. They push for policies that would assert dominance of their own species at any cost or isolate themselves from xenos.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs col-md-6 col-lg-6">
				<div class="panel panel-grey panel-widget">
					<div class="row height-150 no-padding">
						<div class="col-sm-2 col-lg-2 widget-left height-150">
							<img src="views/img/pacifist.png">
							<div class="text-muted">Pacifist</div>
						</div>
						<div class="col-sm-10 col-lg-10 widget-right height-150 padding-10">
							<p class="italics">Conflict as a means to an end is a ridiculous concept. It is by nature destructive, destroying what was to be obtained or giving room to grow that which was to be destroyed.</p>
							<p class="bold">Peacekeepers desire economics growth and the acquisition of resources. They tend to advocate economic strength and peace, and they dislike armed conflicts that disrupt internal development.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs col-md-6 col-lg-6">
				<div class="panel panel-dark-grey panel-widget">
					<div class="row height-150 no-padding">
						<div class="col-sm-2 col-lg-2 widget-left height-150">
							<img src="views/img/fanatic_militarist.png">
							<div class="text-muted">Militarist</div>
						</div>
						<div class="col-sm-10 col-lg-10 widget-right height-150 padding-10">
							<p class="italics">The only true virtues are courage and discipline, and channeled properly they can overcome any obstacle. Therein lies true strength; force withheld, a promise made.</p>
							<p class="bold">Imperialist desire military dominance over other civilizations. They like Rivalries and conquering other empires, and dislike relying on others.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs col-md-6 col-lg-6">
				<div class="panel panel-grey panel-widget">
					<div class="row height-150 no-padding">
						<div class="col-sm-2 col-lg-2 widget-left height-150">
							<img src="views/img/materialist.png">
							<div class="text-muted">Materialist</div>
						</div>
						<div class="col-sm-10 col-lg-10 widget-right height-150 padding-10">
							<p class="italics">Reaching the stars, we set aside childish things; gods, spirits and other phantasms of the mind. Reality is cruel and unforgiving, yet we must steel ourselves and secure the survival of our race through the unflinching pursuit of science and technology.</p>
							<p class="bold">Technologists embrace the scientific progress, the benefits of technological advancement. They dislike politically-motivated bans on avenues of research. They believe technology is the key to a happy and successful society. </p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs col-md-6 col-lg-6">
				<div class="panel panel-dark-grey panel-widget">
					<div class="row height-150 no-padding">
						<div class="col-sm-2 col-lg-2 widget-left height-150">
							<img src="views/img/fanatic_spiritualist.png">
							<div class="text-muted">Spiritualist</div>
						</div>
						<div class="col-sm-10 col-lg-10 widget-right height-150 padding-10">
							<p class="italics">There are those who believe pointless and inconsequential our lives in this vast uncaring universe... What nonsense! The only truth we can ever know is that of our own existence. The universe - in all its apparent glory - is but a dream we all share.</p>
							<p class="bold">Traditionalistsdesire a return to traditional values that may or may not have existed at some point before the civilisation took to the stars. They like austerity and dislike certain technological advancements and non-spiritualist values.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-blue col-lg-2 col-lg-offset-5">
			<div class="panel-heading dark-overlay">
					Begin Quiz!
			</div>
		</div>


	</div>



	<script src="views/js/jquery-1.11.1.min.js"></script>
	<script src="views/js/bootstrap.min.js"></script>
	<script src="views/js/chart.min.js"></script>
	<script src="views/js/chart-data.js"></script>
	<script src="views/js/easypiechart.js"></script>
	<script src="views/js/easypiechart-data.js"></script>
	<script src="views/js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
