<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Stellaris - Ethnics</title>

<link rel="shortcut icon" href="img/Tab_Icon.png"/>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<link href="css/stellaris-ethnics.css" rel="stylesheet">

<script src="js/lumino.glyphs.js"></script>

</head>
<body>
	<%- include partials/navbar.ejs %>
	<%- include partials/breadcrumb.ejs %>

	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
			<span class="sr-only">70% Complete</span>
		</div>
	</div>

	<div class="panel panel-default col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3 stellaris-question-container">
		<div class="panel-heading stellaris-question">
			<%= result.question %>
		</div>

		<div class="panel-body">
			<div class="btn-container">
					<input type="button" class="btn btn-success btn-agree" value="Strongly Agree">
			</div>
			<div class="btn-container">
				<input type="button" class="btn btn-primary btn-agree" value="Agree">
			</div>
			<div class="btn-container">
					<input type="button" class="btn btn-info btn-agree" value="Neutral/Unsure">
			</div>
			<div class="btn-container">
					<input type="button" class="btn btn-warning btn-agree" value="Disagree">
			</div>
			<div class="btn-container">
					<input type="button" class="btn btn-danger btn-agree" value="Strongly Disagree">
			</div>
		</div>

	</div>
	
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
