a.no-color-change:hover {
    background-color: inherit !important;
}

.home-sidebar-list-header {
    background-color: rgb(226, 226, 226)
}


.no-text-overflow {
    text-overflow: ellipsis;
}

.panel-dark-grey{
    background: rgb(87, 87, 87)
}

.panel-grey {
    background: rgb(112, 112, 112)
}

p.italics {
    font-style: italic;
}

.padding-10 {
    padding: 10px;
}

.page-header{
    text-align: center;
}

.height-200 {
    height: 200px;
}

.bold {
    font-weight: bold;
}

.stellaris-question-breadcrumb {
    padding-left: 10px;
}

.stellaris-question {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: auto;
}

.stellaris-question-container {
    padding-top: 20px;
    height: 200px;
}

.panel-default {
    height: auto;
}

.panel-body {
    text-align: center;
    padding-bottom: 20px;
}

.btn-container {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.btn-option {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    width: 450px;
    padding: 5px 120px;
}

.btn-strongly-agree {
    background-color: rgb(19, 126, 19);
    border-color: rgb(19, 126, 19);
}

.btn-strongly-agree:hover {
    color: white;
    background-color: rgb(35, 175, 35);
    border-color: rgb(35, 175, 35);
}

.btn-agree {
    background-color: rgb(0, 102, 102);
    border-color: rgb(0, 102, 102);
}

.btn-agree:hover {
    color: white;
    background-color: rgb(2, 131, 131);
    border-color: rgb(2, 131, 131);
}

.btn-neutral {
    background-color: rgb(124, 124, 124);
    border-color: rgb(124, 124, 124);
}

.btn-neutral:hover {
    color: white;
    background-color: rgb(165, 165, 165);
    border-color: rgb(165, 165, 165);
}

.btn-disagree {
    background-color: rgb(165, 142, 37);
    border-color: rgb(165, 142, 37);
}

.btn-disagree:hover {
    color: white;
    background-color: rgb(214, 183, 45);
    border-color: rgb(214, 183, 45);
}

.btn-strongly-disagree {
    background-color: rgb(136, 20, 20);
    border-color: rgb(136, 20, 20);
}

.btn-strongly-disagree:hover {
    color: white;
    background-color: rgb(194, 25, 25);
    border-color: rgb(194, 25, 25);
}

.white-text {
    color: white;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 10px;
}

.notification-info {
    position: fixed;
    height: 40px;
    width: 320px;
    right: -340px;
    top: 110px;
    border-radius: 3px;
    border-width: 2px;
    border-color: rgb(94, 94, 94);
    background-color: rgb(12, 146, 151);
}

.notification-error {
    position: fixed;
    height: 40px;
    width: 320px;
    right: -340px;
    top: 110px;
    border-radius: 3px;
    background-color: rgb(175, 20, 0);;
}


.notification-text {
    padding: 10px;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    width: auto;
}

.remove-notification-icon {
    color: white;
}

.clickable-div {
    cursor: pointer;
}

.foreground{
    z-index: 999;
}