#easypiechart-aqua .percent { color: #1fc2f3;}
#easypiechart-navy .percent { color: #147a70;}

#easypiechart-blood .percent { color: #ef4040;}
#easypiechart-marone .percent { color: #800000;}

#easypiechart-gold .percent { color: #e9c600;}
#easypiechart-daisy .percent { color: #ffe600;}

#easypiechart-black .percent { color: #181616;}
#easypiechart-grey .percent { color: #bdbdbdf1;}