a.no-color-change:hover {
    background-color: inherit !important;
}

.home-sidebar-list-header {
    background-color: rgb(226, 226, 226)
}


.no-text-overflow {
    text-overflow: ellipsis;
}

.panel-dark-grey{
    background: rgb(87, 87, 87)
}

.panel-grey {
    background: rgb(112, 112, 112)
}

p.italics {
    font-style: italic;
}

.padding-10 {
    padding: 10px;
}

.page-header{
    text-align: center;
}

.height-150 {
    height: 160px;
}

.bold {
    font-weight: bold;
}

.stellaris-question-breadcrumb {
    padding-left: 10px;
}

.stellaris-question {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: auto;
}

.stellaris-question-container {
    margin-top: 130px;
    padding-top: 20px;
    height: 200px;
}

.panel-default {
    height: auto;
}

.panel-body {
    text-align: center;
    padding-bottom: 20px;
}

.btn-container {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.btn-agree {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 5px 120px;
}